{% extends 'lsp/lsp_base.html' %} 
{% block body %}
<main id="main" class="main">
  <div class="container">
    <h2 class="card-title">Chat Room</h2>
    <!-- <div class="row">
      <div class="card-body">
        <div class="col-md-12">
        
          <input
            type="text"
            id="searchBar"
            class="form-control mb-3"
            placeholder="Search for service providers"
          />
        
          <hr />
        </div>
      </div>
    </div> -->
    <div class="row">
      <!-- List of service providers -->
      <div class="col-md-12">
        <h3>Service Providers</h3>
        {% for service_provider in service_providers %}
        <div class="card mb-3">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img
                src="{{ service_provider.profile.profile_picture.url }}"
                class="card-img"
                alt="Profile Picture"
                style="max-width: 100px"
              />
            </div>
            <div class="col-md-6">
              <div class="card-body">
                <h5 class="card-title" style="padding-top: 35px">
                  {{ service_provider.first_name }}&nbsp;{{ service_provider.last_name }}
                </h5>
                <!-- You can add additional information here if needed -->
              </div>
            </div>
            <!-- Inside the template -->
<!-- Inside the template -->
<div class="col-md-2" style="padding-top: 30px">
    {% if service_provider.id %}
        <a href="{% url 'lsp:chat_interface' receiver_id=service_provider.id %}" type="button" class="btn btn-primary"> 
            <i class="bi bi-chat" style="font-size:25px; color: #03010b;"></i>
        </a>
    {% endif %}
</div>


           
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="row">
      <!-- List of appointment confirmed clients -->
      <div class="col-md-12">
        <h3>Appointment Confirmed Clients</h3>
        {% for client in confirmed_clients %}
        <div class="card mb-3">
          <div class="row no-gutters">
            <div class="col-md-6">
              <div class="card-body">
                <h5 class="card-title" style="padding-top: 35px">
                  {{ client.client.first_name }}&nbsp;{{ client.client.last_name}}
                </h5>
                <!-- You can add additional information here if needed -->
              </div>
            </div>
          <!-- Inside the template -->
<div class="col-md-6" style="padding-top: 30px">
    <a href="{% url 'lsp:chat_interface' receiver_id=client.client.id %}" type="button" class="btn btn-primary"> 
        <i class="bi bi-chat" style="font-size:25px; color: #03010b;"></i> Chat
    </a>
</div>

          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</main>
{% endblock %}
